// done by riverco.de
@import helpers/all
@import common
@import layouts
@import main


body
	background: #000 
.text
	position: absolute
	left: 50%
	top: 50%
	transform: translate(-50%,-50%)  
	font-size: 200px 
	color: #fff 
	font-weight: bold
	letter-spacing: -10px 
	pointer-events: none
	mix-blend-mode: exclusion